<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../src/materialize/css/materialize.min.css">
	<link rel="stylesheet" href="../../src/materialize/fonts/material-design-icons/material-icons.css">
	<script src="../../src/materialize/js/jquery.js"></script>
	<script src="../../src/materialize/js/materialize.min.js"></script>
	<title>Historial | SGR</title>
</head>
<body class="grey lighten-2">
	<div class="container">
		<div class="row">
			<br/>
			<div class="col m2 push-m1">
				<img src="../../src/img/mapache.png" alt="" class="responsive-img">
			</div>
			<div class="col m10">
				<br>
				<h4 class="center">Tecnológico Nacional de México</h4>
				<h5 class="center">Instituto Tecnológico de Zacatecas</h5>
			</div>
		</div>
	</div>
  	<nav class="z-depth-2 teal" role="navigation">
    	<div class="nav-wrapper container">
      		<a href="../inicio.html" class="brand-logo">Menu Principal</a>
      		<ul id="nav-mobile" class="right hide-on-med-and-down">
        		<li><a href="../residentes/residentes.php"><i class="material-icons left">people</i>Residentes</a></li>
        		<li><a href="../proyectos/proyectos.php"><i class="material-icons left">business_center</i>Proyectos</a></li>
        		<li><a href="../relaciones/relaciones.html"><i class="material-icons left">repeat</i>Asignaciones</a></li>
        		<li class="active"><a href=""><i class="material-icons left">date_range</i>Sesiones</a></li>
        		<li><a href="#"><i class="material-icons right">directions_run</i>Cerrar sesión</a></li>
      		</ul>
    	</div>
  	</nav>
  	<div class="container">
	 	<div class="row">
			<div class="col m12">
			    <div class="card-panel white z-depth-3">
			       	<H3 align="center">Historial de sesiones</H3>
					<div class="row">
						<div class="col m12">
			       			<form>
        						<div class="input-field">
          							<input id="search" type="search" required>
          							<label for="search"><i class="material-icons">search</i></label>
          							<i class="material-icons">close</i>
        						</div>
      						</form>
      					</div>
						<div class="col m12">
							<table class="centered striped bordered z-depth-3">
						        <thead>
						          	<tr>
						              	<th>Número de sesión</th>
						              	<th>Fecha de la sesión</th>
						              	<th>Avances</th>
						              	<th>Observación</th>
						              	<th></th>
						          	</tr>
						        </thead>
						        <tbody>
						          	<tr>
						            	<td>1</td>
						            	<td>20-Enero-2017</td>
						            	<td>Interfaz completa</td>
						            	<td>Faltaron campos</td>
						            	<td><a class="btn tooltipped blue" data-position="bottom" data-delay="50" data-tooltip="Editar"><i class="material-icons">input</i></a></td>
						          	</tr>
						          	<tr>
						            	<td>2</td>
						            	<td>3-Febrero-2017</td>
						            	<td>Campos actualizados</td>
						            	<td>Ninguna</td>
						            	<td><a class="btn tooltipped blue" data-position="bottom" data-delay="50" data-tooltip="Editar"><i class="material-icons">input</i></a></td>
						          	</tr>
						          	<tr>
						            	<td>3</td>
						            	<td>17-Febrero-2017</td>
						            	<td>Altas y bajas creadas</td>
						            	<td>Hay error en las sentencias</td>
						            	<td><a class="btn tooltipped blue" data-position="bottom" data-delay="50" data-tooltip="Editar"><i class="material-icons">input</i></a></td>
						          	</tr>
						        </tbody>
			      			</table>
						</div>
					</div>
					<!--<form>
					    <div class="row">
					      	<div class="col m3">
					      		<h5>Nueva sesión</h5>
					      	</div>
						       <div class="input-field col m7">
						        <input id="first_name" type="date" class="datepicker">
					        </div>
					        <div class="col m2 center">
				    			<button class="btn waves-effect waves-light btn-large green accent-3 z-depth-3" type="submit" name="action">Aceptar
							</div>
					    </div>
					</form>-->      	
					<div class="row">
						<div class="col m4 center">
				    			<button class="btn waves-effect waves-light btn-large green accent-3 z-depth-3 datepicker" type="date" name="action"><i class="material-icons left">add</i>Nueva sesión
							</div>
						<div class="col m4 center">
				    		<a class="waves-effect waves-light btn-large blue z-depth-3"><i class="material-icons left">description</i>Reporte</a>
						</div>
						<div class="col m4 center">
				    		<a class="waves-effect waves-light btn-large yellow accent-4 z-depth-3"><i class="material-icons left">done</i>Concluir</a>
						</div>
					</div>
			    </div>
			</div>
		</div>
  	</div>
</body>
<script type="text/javascript">
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 2 // Creates a dropdown of 15 years to control year
  });
</script>
</html>